.portfolio{
    margin-bottom: 15rem;
    
}
.sevices-name{
    color: white;
}

.port-title{
    text-align: center;
}
.portfolio-body{
    margin-left: 30rem;
    margin-right: 25rem;
    margin-top: 5rem;
}


.project{
    display: flex;
    align-items: center;
}
.project1{
    display: flex;
    align-items: center;
    margin-top: 8rem;
  
}
.project2{
    display: flex;
    align-items: center;
    margin-top: 8rem;
}

.image img{
    box-shadow:  5px 5px 5px 0px grey;
    border-radius: 0.8rem;
}

.imagee img{
    box-shadow:  5px 5px 5px 0px grey;
    border-radius: 0.8rem;
    margin-left: 6rem;
}
.project-part{
    margin-left: 5rem;
}


.project-title{
    font-size: 1.6rem;
    color: #0fb;
    margin-right: 50px;
}
.project-titlee{
    font-size: 1.6rem;
    color: #0fb;
}

.descrption{
    font-size: 1.1rem;
    margin-top: 1.5rem;
    color: white;
}

.project a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    background: #2371ae;
    border-radius: 5rem;
    opacity: 10;
    background: linear-gradient(90deg,#bb47d4 0,#2371ae);
}
.project1 a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    background: #2371ae;
    border-radius: 5rem;
    opacity: 10;
    background: linear-gradient(90deg,#bb47d4 0,#2371ae);
}

.project2 a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    background: #2371ae;
    border-radius: 5rem;
    opacity: 10;
    background: linear-gradient(90deg,#bb47d4 0,#2371ae);
}

/* .portfolio-body{
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project{
    height: 30rem;
    width:22.5rem;
    /* border: 1px solid black; 
}*/

/* .image{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 10px;
    position: relative; 
    opacity: 15;
    color: #fff;
   opacity: 0.5;
} */


 

/* .project a{
    position: absolute;
    margin-top: -100px;
    margin-left: 110px;
}

.image:hover{
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-in;  
    transform: scale(1.10); 
}

.image a:hover{
    cursor: pointer;
    background: red;
}  */
